@mixin list-reset {
    list-style: none;
    padding: 0;
    margin: 0;
}

//Reset links <a>
@mixin link-reset {
    text-decoration: none;
    color: #000;
    :active {
        color: #000;
    }
}

//Reset Buttons
@mixin btn-reset {
    padding: 0;
    margin: 0;
    background: none;
    border-style: none;
    &:hover {
        cursor: pointer;
    }
}

@mixin flex($direction: row, $justify: normal, $align: normal, $gap: 0, $grow: 0, $order: 1) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
    flex-grow: $grow;
    order: $order;
}
