//////////////////////////////////////////////
////////////////////Base//////////////////////
//////////////////////////////////////////////

@use "base";
@use "mixin";
@use "layout";

//////////////////////////////////////////////
//////////////////Partials////////////////////
//////////////////////////////////////////////

@use "partials/navbar" as navbar;
@use "partials/infoMessage" as infoMessage;
@use "partials/newsletter" as newsletter;

///////////////////////////////////////////////
//////////////////Templates////////////////////
//////////////////////////////////////////////

@use "templates/index";
@use "templates/form";
@use "templates/products";
@use "templates/productListOverview";

* {
    box-sizing: border-box;
}

html {
    font-size: base.$default_fz;
    font-family: base.$text_ff;
    background-color: base.$bg-primary;
}

h1,
h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-family: base.$heading_ff;
    letter-spacing: 0.3rem;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}

.view-loader-container {
    margin: 0 20px;
}

.hide {
    display: none;
}

.greeting {
    font-size: 0.8rem;
}

.btn {
    @include mixin.btn-reset;
    text-transform: uppercase;
    padding: 20px 15px;
    letter-spacing: 2px;
    margin-right: 10px;
    &--cta-btn {
        background: #fff;
        color: base.$primary;
    }
    &--dark {
        background: #000;
        color: #fff;
    }
    &--add {
        font-weight: normal;
        background: base.$success;
        color: #fff;
        padding: 10px 10px;
        &:hover {
            background: darken(base.$success, 5%);
        }
    }
    &--edit {
        text-transform: none;
        background: base.$edit;
        color: #fff;
        padding: 10px 10px;
        letter-spacing: 0;
        &:hover {
            background: darken(base.$edit, 5%);
        }
    }
    &--delete {
        text-transform: none;
        background: base.$danger;
        color: #fff;
        padding: 10px 10px;
        letter-spacing: 0;
        &:hover {
            background: darken(base.$danger, 5%);
        }
    }
}

.plus-icon {
    width: 17px;
    height: 17px;
    fill: #fff;
}
