@use "../base";
.error-msg-container,
.success-msg-container {
    max-width: 500px;
    margin: 0 25%;
    margin-bottom: 10px;
    padding: 0 20px;
}

.error-msg-container {
    background: lighten(base.$primary, 20%);
    border: solid base.$primary 1px;
}

.success-msg-container {
    background: lighten(base.$success, 20%);
    border: solid base.$success 1px;
}

.delete-confirm {
    margin: 20px 0;
    padding: 30px 0;
    background: #fff;
    .delete-confirm-text {
        margin: 20px 0;
    }
}

@media (min-width: base.$medium-width) {
    .delete-confirm {
        margin: 20px 25%;
    }
}
