@use "../base";
@use "../mixin";

.navbar-container {
    display: flex;
    margin: 20px 30px;

    &__list {
        @include mixin.list-reset;

        &--hidden {
            display: none;
        }
    }

    &__icon {
        width: 20px;
        height: 20px;
        &:hover {
            fill: base.$primary;
        }
    }

    &__icon-list {
        @include mixin.list-reset;
        @include mixin.flex($align: center, $gap: 15px);
        margin-left: auto;
    }
}

//Tablet Viewport
@media screen and (min-width: base.$medium-width) {
    .navbar-container {
        &__list {
            @include mixin.flex($align: center, $gap: 100px);

            &--hidden {
                display: block;
            }

            &--anchor-reset {
                @include mixin.link-reset;
                &:hover {
                    color: base.$primary;
                }
            }
        }

        .mobile-menu-container {
            display: none;
        }
    }
}
