@use "../mixin";
@use "../base";

.cart-content-container {
    .cart-summary {
        background: #fff;
        margin: 10px 0;
        padding: 15px;
    }
    .product-in-cart {
        @include mixin.flex($gap: 15px);
        background: #fff;
        margin: 10px 0;
        padding: 15px;
        position: relative;

        .cart-image {
            display: flex;
            &__image {
                max-width: 140px;
                width: 100%;
            }
        }

        .cart-quantity {
            @include mixin.flex($gap: 30px, $align: center, $justify: space-between);
            outline: black solid 1px;
            &__number {
                margin: 0;
            }
            .btn {
                margin: 0;
                padding: 10px 10px;
            }
        }

        .remove-all {
            position: absolute;
            top: 15px;
            right: 15px;
            &__icon {
                width: 16px;
                height: 16px;
                fill: black;
            }
        }
    }
    .cart-detail {
        &__label {
            font-size: 0.8rem;
            color: rgb(58, 58, 58);
            margin: 0;
            margin-bottom: 5px;
        }

        &__info {
            margin-top: 0;
            margin-bottom: 10px;
        }
    }
}
.cart-total-container {
    @include mixin.flex($align: end, $direction: column-reverse);
    background: #fff;
    margin: 20px 0;
    padding: 15px;
    .cart-total {
        @include mixin.flex($gap: 15px);
        &__label {
            margin: 0;
        }
        &__price {
            margin: 0;
        }
    }
    .checkout {
        display: flex;
        margin-top: 10px;
        .btn--add {
            margin: 0;
        }
    }
}

@media (min-width: base.$medium-width) {
    .cart-content-container {
        @include mixin.flex($justify: center, $direction: column, $align: center);
        .cart-min-width {
            min-width: 600px;
        }
    }
}
